/* #botaofinal {
    padding-bottom: 5%;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: medium;
    margin-bottom: 2%;
}
.titulo {
    padding-bottom: 2.5%;
}
h2 {
    padding-bottom: 2.5%;
}
h4 {
    padding-bottom: 0.5%;
}
#comment {
    margin-bottom: 4%;
}
.lab {
    font-weight: normal;
}
textarea {
    resize: none;
}
.botoes {
    margin: auto;
    width: 50%;
} */

/* Estilo para a navbar */
.navbar-inverse {
  background-color: #292929;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

/* Estilo para o título da navbar */
.navbar-brand {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  transition: all 0.3s ease;
}

/* Estilo para o link ativo na navbar */
.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
  background-color: #4fc3f7;
  border-radius: 5px;
}

/* Estilo para os links na navbar */
.navbar-nav > li > a {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease;
}

/* Estilo para o título do artigo */
#texts h1 {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

/* Estilo para o título do texto */
#texts .titulo {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo para o texto do artigo */
#texts p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Estilo para os botões de remover e editar */
#texts .btn {
  margin-right: 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Estilo para o formulário de comentário */
#texts form {
  margin-top: 30px;
}

/* Estilo para o rótulo do formulário de comentário */
#texts .lab {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 20px;
}

/* Estilo para o campo de nome do formulário de comentário */
#texts input[name="form_name"] {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

/* Estilo para o campo de comentário do formulário de comentário */
#texts textarea[name="form_comment"] {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

/* Estilo para o botão de enviar do formulário de comentário */
#texts input[type="submit"] {
  background-color: #4fc3f7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 20px;
  transition: all 0.3s ease;
}

/* Estilo para o rodapé */
#botaofinal {
  margin-top: 30px;
  text-align: center;
}

/* Estilo para o botão de criar novo artigo */
#botaofinal a {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 20px;
  border-radius: 5px;
  background-color: #0049ce;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Efeito de hover para a navbar */
.navbar-brand:hover,
.navbar-nav > li > a:hover {
  color: #4fc3f7;
}

/* Efeito de hover para os botões */
#texts .btn:hover,
#botaofinal a:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Efeito de focus para os campos de formulário */
#texts input[type="text"]:focus,
#texts textarea:focus {
  border: 1px solid #4fc3f7;
  box-shadow: 0px 0px 5px rgba(79, 195, 247, 0.5);
}

/* Efeito de hover para o botão de criar novo artigo */
#botaofinal a:hover {
  background-color: #333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.bv {
  text-align: center;
}

.mostra-comment {
  align-items: center;
  text-align: center;
}
